---
#
# Definition of ActivityDescription and EntityDescription
#
# activities:
#   <activity_name>:
#     description:
#     parameters:
#       - name:
#         location:    # name of the Python variable
#                      # (maybe be nested in an object or dict)
#     usage/generation:
#       - role:
#         description:
#         entityType:
#         location:    # PythonObject or variable containing
#                      # a valid path to a File/DataStore
#         from_parameter:
#           location:  # location is the value contained in
#                      # the pointed parameter (--> parameters.name)
#         has_members:
#           list:      # Python list of the members (e.g. observations.list)
#           location:  # for each object in list, location of the entity
#                      # (e.g. obs_id for list[*].obs_id)
#      filter:
#       - criteria:
#         usage: []
#         generation: []
#
# entityTypes:
#   <entity_name>:
#     description:
#     path:  # default path?
#

activities:

    get_observations:
        description:
            "Fetch observations from the data store according
            to criteria defined in the configuration"
        parameters:
            - name: datastore
              description: "DataStore path as string"
              location: settings.observations.datastore
            - name: filters
              description: "Filter criteria to select observations"
              location: settings.observations.filters
        usage:
            - role: datastore
              description: "DataStore object file"
              entityType: DataStore
              location: settings.observations.datastore
        generation:
            - role: observations selected
              description: "Observations selected"
              entityType: Observations
              location: observations
              has_members:
                  entityType: Observation
                  list: observations.list
                  location: obs_id

    get_datasets:
        description: "Produce reduced datasets"
        parameters:
            - name: stack-datasets
              description: "Stack datasets flag"
              location: settings.datasets.stack-datasets
            - name: dataset-type
              description: "Datasets type"
              location: settings.datasets.dataset-type
            - name: geom
              description: "Geometry parameters"
              location: settings.datasets.geom
            - name: geom-irf
              description: "Geometry parameters in IRFs"
              location: settings.datasets.geom-irf
            - name: background
              description: "Background parameters"
              location: settings.datasets.background
            - name: containment_correction
              description: "Containment_correction used in spectrum extraction"
              location: settings.datasets.containment_correction
            - name: offset-max
              description: "Max offset to produce the dataset cutout"
              location: settings.datasets.offset-max
            - name: psf-kernel-radius
              description: "Radius of PSF kernel used"
              location: settings.datasets.psf-kernel-radius
        usage:
            - role: observations used in reduction process
              description: "Observations selected"
              entityType: Observations
              location: observations
            - role: exclusion_mask
              description: "Exclusion mask for spectral background estimation"
              entityType: File
              location: settings.datasets.background.exclusion_mask.filename
        generation:
            - role: background estimator
              description: "ReflectedRegionsBackgroundEstimator object"
              entityType: ReflectedRegionsBackgroundEstimator
              location: background_estimator
            - role: spectrum extraction
              description: "SpectrumExtraction object"
              entityType: SpectrumExtraction
              location: extraction
            - role: reduced datasets
              description: "Datasets produced in the reduction process"
              entityType: Datasets
              location: datasets
              has_members:
                  entityType: Dataset
                  list: datasets.datasets
                  location: name

    set_model:
        description:
            "Read the model from dict or filename
            and attach it to datasets"
        parameters:
            - name: model
              description: "Model description in YAML format as string"
              location: kwargs.model
            - name: filename
              description: "Filename and path with the YAML model description"
              location: kwargs.filename
        usage:
            - role: model_file
              entityType: YAMLFile
              location: kwargs.filename
#            - role: reduced datasets
#              description: "Datasets produced in the reduction process"
#              entityType: Datasets
#              location: datasets
        generation:
            - role: model
              entityType: SkyModel
              location: model
#            - role: datasets with model
#              description: "Datasets with model attached"
#              entityType: Datasets
#              location: datasets

    run_fit:
        description: "Fitting reduced data sets to model"
        parameters:
            - name: fit_range
              location: settings.fit.fit_range
        usage:
            - role: datasets with model
              description: "Datasets to fit"
              entityType: Datasets
              location: datasets
            - role: model
              entityType: SkyModel
              location: model
        generation:
            - role: fit
              entityType: Fit
              location: fit
            - role: fit_result
              entityType: FitResult
              location: fit_result

    get_flux_points:
        description: "Calculate flux points."
        parameters:
            - name: source
              location: args.source
            - name: fp_binning
              location: settings.flux-points.fp_binning
        usage:
            - role: datasets
              entityType: Datasets
              location: datasets
            - role: model
              entityType: SkyModel
              location: model
            - role: fit_result
              entityType: FitResult
              location: fit_result
        generation:
            - role: calculated flux points dataset
              entityType: FluxPointsDataset
              location: flux_points


# track entities with an id
# .uuid in the object
# hash? __hash__, quasi unique, but per session
# id()? but memory allocation, so may not be unique

entityTypes:
    PythonObject:
        description: "A Python variable in memory"
    DataStore:
        description: "A directory pointing to a collection of files on the disk"
        url: https://docs.gammapy.org/dev/api/gammapy.data.DataStore
    Observations:
        description: "A list of observations"
        url: https://docs.gammapy.org/dev/api/gammapy.data.Observations
    Observation:
        description: "An observation from the DataStore with a unique obs_id"
        url: https://docs.gammapy.org/dev/api/gammapy.data.DataStoreObservation
    Dataset:
        description: "A dataset: spectrum, map or flux-points"
        url: https://docs.gammapy.org/dev/api/gammapy.modeling.Dataset
    Datasets:
        description: "A list of datasets"
        url: https://docs.gammapy.org/dev/api/gammapy.modeling.Datasets
    SpectrumExtraction:
        description: "A SpectrumExtraction object"
        url: https://docs.gammapy.org/dev/api/gammapy.spectrum.SpectrumExtraction
    ReflectedRegionsBackgroundEstimator:
        description: "A ReflectedRegionsBackgroundEstimator object"
        url: https://docs.gammapy.org/dev/api/gammapy.spectrum.ReflectedRegionsBackgroundEstimator
    SkyModel:
        description: "A generic SkyModel"
        url: https://docs.gammapy.org/dev/api/gammapy.modeling.models.SkyModelBase
    Fit:
        description: "A Fit object"
        url: https://docs.gammapy.org/dev/api/gammapy.modeling.Fit
    FitResult:
        description: "A FitResult object"
        url: https://docs.gammapy.org/dev/api/gammapy.modeling.FitResult
    FluxPointsDataset:
        description: "A FluxPointsDataset object"
        url: https://docs.gammapy.org/dev/api/gammapy.spectrum.FluxPointsDataset
    File:
        description: "A File on the disk"
    FITSFile:
        description: "A FITS File on the disk"
        contentType: application/fits
    YAMLFile:
        description: "A YAML File on the disk"
        contentType: application/x-yaml
